/* standard browser settings */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	font-family: 'Poppins', sans-serif;
	color: #EBEBEB;
	background-color: rgba(20, 20, 20, 0.5);
}

body {
	background: url("assets/black_bg.jpg") no-repeat fixed center;
}

.logo {
	color: #EBEBEB;
	margin-left: 12vw;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 2em;
}

.nav-links {
	margin-right: 3vw;
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links li {
	list-style: none;
}

.link {
	color: #EBEBEB;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 0.8em;

}

.link-active {
	text-decoration: underline;
}

.burger {
	display: none;
}

.burger div {
	width: 30px;
	height: 3px;
	background-color: #EBEBEB;
	margin: 5px;
	transition: all 0.3s ease; /*set transition duration*/
	border-radius: 1.5px;
}

.main {
	height: 74vh;
	width: 100vw;
	display: flex;
	align-items: center;
	/*background: rgba(0, 0, 200, 0.2);*/
}

.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	height: 74vh;
	width: 40vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 5em;
	font-weight: bolder;
	background: rgba(75, 75, 75, 0.2);
	transform: translateX(-100%);
}

#claim-text1 {
	transform: translateX(-150%);
}

#claim-space {
	height: 10%;
}

#claim-text2 {
	transform: translateX(-150%);
}

.link-gallery {
	height: 74vh;
	width: 40vw;
}

#link1-gallery {
	background: url("assets/detailing1.jpg") no-repeat fixed center;
	opacity: 0;
}

#link2-gallery {
	background: url("assets/detailing2.jpg") no-repeat fixed center;
	opacity: 0;
}

#link3-gallery {
	background: url("assets/detailing3.jpg") no-repeat fixed center;
	opacity: 0;
}

#link4-gallery {
	background: url("assets/detailing4.jpg") no-repeat fixed center;
	opacity: 0;
}

#partnership1 {
	transform: translateX(150%);
}

#partnership2 {
	transform: translateX(200%);
}
.preview {
	position: fixed;
	right: 0px;
	align-self: flex-end;
	display: flex;
	align-items: flex-start;
	/*justify-content: center;*/
	color: black;
	height: 74vh;
	width: 60vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 5em;
	font-weight: bolder;
	background: rgba(75, 75, 75, 0.2);
	transform: translateX(60vw);
}

#partnerships {
	width: 50vw;
	position: fixed;
	right: 0px;
	transform: translateX(100%);
}

.space {
	height: 3vh;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	background-color: rgba(20, 20, 20, 0.5);
	color: #EBEBEB;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 0.5em;
}

/* CSS Animation */

@keyframes previewIn {
	from {
		opacity: 0;
		transform: translateX(100%);

	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes previewOut {
	from {
		opacity: 1;
		transform: translateX(0%);

	}
	to {
		opacity: 0;
		transform: translateX(100%);
	}
}

@keyframes galleryIn {
	from {
		opacity: 0;
		transform: translateX(-100%);

	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes galleryOut {
	from {
		opacity: 1;
		transform: translateX(0%);

	}
	to {
		opacity: 0;
		transform: translateX(-100%);
	}
}

@keyframes linkGalleryIn {
	from {
		opacity: 0;
		transform: translateX(0%);

	}
	to {
		opacity: 1;
		transform: translateX(-100%);
	}
}

@keyframes linkGalleryOut {
	from {
		opacity: 1;
		transform: translateX(-100%);

	}
	to {
		opacity: 0;
		transform: translateX(0%);
	}
}


@keyframes partnershipIn {
	from {
		opacity: 0;
		transform: translateX(200%);

	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes partnershipOut {
	from {
		opacity: 1;
		transform: translateX(0%);

	}
	to {
		opacity: 0;
		transform: translateX(100%);
	}
}


@keyframes logoIn {
	from {
		opacity: 0;
		color: black;
	}
	to {
		opacity: 1;
		color: #EBEBEB;
	}
}


/***************************************************************************************************************************************/
/***************************************************************************************************************************************/


/* Mobile version CSS*/

@media screen and (max-width: 1024px) { /*medium screen size spacing adapter*/
	
	.nav-links {
		width: 60%;
	}

@media screen and (max-width: 768px) {

	body {
		overflow-x: hidden; /*hides everything that exeed page width*/
	}

	.main {
		width: 100vw;
		opacity:1;
	}

	.nav-links {
		position: absolute;
		top: 13vh;
		right: -5vw;
		height: 74vh;
		width: 50%;
		background-color: rgba(100, 100, 100, 0.2);
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%); /*move div right (to 100% of width)*/
		transition: transform 0.5s ease-in; /*transition timing (slow-in)*/
	}

	.nav-links li {
		opacity: 0; /*links are hidden at first*/
	}

	.burger {
		display: block;
		cursor: pointer;
	}

}

.nav-active {
	transform: translateX(0%); /*move div left (from +100%(X))*/
}

/* CSS Animation */

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* Burger icon animation */

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}