* {
  /* standard browser settings */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html { 
  background: url("assets/black_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body {
background: url("assets/black_bg.jpg") no-repeat fixed cover;
}*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
  color: #ebebeb;
  background-color: rgba(20, 20, 20, 0.5);
}

a {
  color: #ebebeb;
  text-decoration: none; /* no underline */
}

.logo {
  display: flex;
  align-items: center;
  color: #ebebeb;
  margin-left: 3vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2em;
}

#logo_big {
  display: flex;
  align-items: center;
  height: 60%;
}

#sublogo {
  font-size: 1.5rem;
}

#g {
  color: crimson;
  font-size: 1.5em;
}

.nav-links {
  margin-left: 15vw;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

li {
  list-style: none;
}

.link {
  color: #ebebeb;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

#social_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vh;
}

.social {
  background-size: cover;
  width: 6vh;
  height: 6vh;
  opacity: 0.8;
}

#whatsapp {
  background-image: url("assets/whatsapp2.png");
}

#facebook {
  background-image: url("assets/facebook2.png");
}

#instagram {
  background-image: url("assets/instagram1.png");
}

.link-active {
  text-decoration: underline;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #ebebeb;
  margin: 5px;
  transition: all 0.3s ease; /*set transition duration*/
  border-radius: 1.5px;
}

.space {
  height: 3vh;
}

.main {
  height: 74vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  height: 74vh;
  width: 40vw;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
  background: rgba(75, 75, 75, 0.2);
  transform: translateX(-100%);
}

.servizi-mobile {
  display: none;
}

.prodotti-mobile {
  display: none;
}

.service-block-text-mobile-works {
  display: none;
}

.service-block-text-mobile-des {
  display: none;
}

.google-maps-mobile {
  display: none;
}

#claim-text1 {
  transform: translateX(-150%);
}

#claim-space {
  height: 10%;
}

#claim-text2 {
  transform: translateX(-150%);
}

#claim-text1-mobile {
  display: none;
}

#claim-text2-mobile {
  display: none;
}

#prodotti-text-mobile {
  display: none;
}

#works_link_mobile {
  display: none;
}

#works_link {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 20%;
  border: 0.3vh solid #ebebeb;
}

/* #works_link a {
  color: crimson;
} */

#works_link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text-mobile {
  display: none;
}

.link-gallery {
  height: 80vh;
  width: 40vw;
  border-top: 0.3vw solid #ebebeb;
  border-bottom: 0.3vw solid #ebebeb;
}

#link2-gallery {
  display: flex;
  flex-direction: column;
  background-image: url("assets/products_bg.jpg");
  background-size: cover;
  background-position: center;
}

#swissvax {
  margin: 10% 10% 5% 5%;
  width: 100%;
  background-image: url("assets/swissvax_w.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#colourlock {
  margin: 5% 10% 20% 5%;
  width: 100%;
  background-image: url("assets/colourlock.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* #link3-gallery {
	background: url("assets/detailing3.jpg") no-repeat fixed center;
	opacity: 0;
}
 */
#link4-gallery {
  /* background: url("assets/detailing4.jpg") no-repeat fixed right; */
  opacity: 0;
  align-self: right;
  width: 40vw;
}

#partnerships {
  width: 50vw;
  position: fixed;
  justify-content: space-between;
  right: 0px;
  transform: translateX(100%);
}

#partnership1 {
  display: flex;
  flex-direction: column;
  margin: 5% 0 0 5%;
  font-size: 0.8em;
  transform: translateX(150%);
}

#partnership2 {
  /* background-color: lightslategray; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  height: 100%;
  margin: 3% 0 3% 0%;
  transform: translateX(200%);
  font-size: 1rem;
}

#claim_small {
  /* background-color: chartreuse; */
  color: #ebebeb;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

#vehicles {
  /* background-color: limegreen; */
  margin-right: 20%;
  color: #ebebeb;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.3rem;
  border-top: 0.3vw solid #ebebeb;
  border-bottom: 0.3vw solid #ebebeb;
}

#partnerships img {
  height: 60%;
  width: 60%;
}

.preview {
  position: fixed;
  right: 0px;
  /* align-self: flex-end;
  display: flex;
  align-items: flex-start; */
  color: black;
  height: 80vh;
  width: 60vw;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
  background: rgba(75, 75, 75, 0.2);
  transform: translateX(60vw);
}

#link1-window {
  /* background-color: teal; */
  display: flex;
  flex-direction: column;
}

#link2-window {
  /* background: url("assets/detailing2.jpg") no-repeat fixed right ; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  transform: translateX(100vw);
}

#link3-window {
  /* background-color: teal; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  transform: translateX(100vw);
}

#side-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  font-size: 1rem;
  color: #ebebeb;
  line-height: 2.5rem;
  padding: 10vw;
  margin-bottom: 5vh;
}

#mid-line {
  height: 0.3vw;
  width: 10vw;
  border-bottom: 0.3vw solid #ebebeb;
  margin: 5vh 0 5vh 0;
}

#link4-window {
  /* background-color: teal; */
  display: flex;
  width: 100vw;
  transform: translateX(100vw);
}
.submenu {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 200%;
}

#interni {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60vw;
}

.srv-title {
  opacity: 0.8;
  padding: 5%;
  letter-spacing: 0.1em;
  font-size: 0.4em;
  border-right: 0.3vw solid #ebebeb;
}

.srv-title a:hover {
  text-decoration: underline;
}

.srv-detail {
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.srv-detail li {
  font-size: 1rem;
  color: #ebebeb;
  list-style: none;
  line-height: 2.5rem;
}

#link1a-gallery {
  background-image: url("assets/int-ext.jpg");
  background-size: cover;
  background-position: center;
  width: 40vw;
  height: 200%;
  align-self: flex-start;
}

#esterni {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60vw;
}

#prodotti {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60vw;
  font-size: 1rem;
  color: #ebebeb;
  line-height: 2.5rem;
  padding: 15vw;
  border-top: 0.3vw solid #ebebeb;
  border-bottom: 0.3vw solid #ebebeb;
}

#about-us {
  /* background-color: tan; */
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100%;
  /* justify-content: center; */
  align-items: center;
  font-size: 1rem;
  color: #ebebeb;
  border-top: 0.3vw solid #ebebeb;
  border-bottom: 0.3vw solid #ebebeb;
}

#about-us li {
  /* background-color: rgba(20, 20, 20, 0.5); */
  font-size: 1rem;
  color: #ebebeb;
  list-style: none;
  line-height: 2.5rem;
  width: 100%;
}

#contattaci {
  font-size: 2rem;
  margin: 10% 0 10% 0;
}

.google-maps {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 3vw solid rgba(20, 20, 20, 0.5);
}

.google-maps > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  background-color: rgba(20, 20, 20, 0.5);
  color: #ebebeb;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.5em;
}

/* /////////////////////////////////// - GALLERY STYLE SECTION - //////////////////////////////////////////// */

.gallery_container {
  display: flex;
  width: 70vw;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: -5px;
}

.gallery_slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gallery_slide img {
  object-fit: cover;
  width: 100%;
}

#prevBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 15%;
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

#nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 15%;
  position: absolute;
  top: 35%;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.arrow {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

#top_stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  height: 15%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#bottom_stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

/* --------------------------------------- Service Pages CSS ---------------------------------------------------*/

.page-wrap {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  width: 99vw;
  padding: 0 12% 0 12%;
  font-family: "Poppins", sans-serif;
  color: #ebebeb;
  font-size: 1rem;
  line-height: 2.5rem;
  border-top: 0.3vw solid #ebebeb;
  border-bottom: 0.3vw solid #ebebeb;
}

.service-block {
  background: rgba(75, 75, 75, 0.2);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  /* margin-bottom: 2vw; */
}

.service-block-img {
  /* background-color: bisque; */
  display: flex;
  width: 50%;
  height: 100%;
}

.service-block-img img {
  width: 100%;
  object-fit: cover;
  /* opacity: 0.7; */
}

/* .service-block-img img:hover {
  opacity: 1;
  zoom: 50%;
} */

.service-block-text {
  /* background-color: darkslategray; */
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10%;
  font-size: 1.5em;
  text-align: center;
}

.service-block-text-des {
  /* background-color: darkslategray; */
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10%;
  font-size: 1em;
  text-align: center;
}

.service-block-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.service-block-text-mobile {
  display: none;
}

/* ----------------------------------------- CSS Animation -----------------------------------------------------*/

@keyframes previewIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes previewOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes previewaIn {
  /* different preview for "About Us" section */
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(40vw);
  }
}

@keyframes previewaOut {
  from {
    opacity: 1;
    transform: translateX(40vw);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes galleryIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes galleryOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes linkGalleryIn {
  from {
    opacity: 0;
    transform: translateX(0vw);
  }
  to {
    opacity: 1;
    transform: translateX(-40vw);
  }
}

@keyframes linkGalleryOut {
  from {
    opacity: 1;
    transform: translateX(-40vw);
  }
  to {
    opacity: 0;
    transform: translateX(0vw);
  }
}

@keyframes linkaGalleryIn {
  /*different slide animation (link "a") */
  from {
    opacity: 0;
    transform: translateX(-60vw);
  }
  to {
    opacity: 1;
    transform: translateX(-100vw);
  }
}

@keyframes linkaGalleryOut {
  from {
    opacity: 1;
    transform: translateX(-100vw);
  }
  to {
    opacity: 0;
    transform: translateX(0vw);
  }
}

@keyframes partnershipIn {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes partnershipOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes logoIn {
  from {
    opacity: 0;
    color: black;
  }
  to {
    opacity: 1;
    color: #ebebeb;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------- Mobile version CSS* ---------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 1024px) {
  /*medium screen size spacing adapter*/

  .nav-links {
    width: 60%;
  }

  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden; /*hides everything that exeed page width*/
    }

    .main {
      flex-direction: column;
      /* height: 300vh; */
    }

    nav {
      justify-content: center;
    }

    .nav-links {
      display: none;
    }

    .space {
      display: none;
    }

    #link1-window {
      display: none;
    }

    #link2-window {
      display: none;
    }

    #link3-window {
      display: flex;
      transform: translateX(-400vw);
    }

    #link4-window {
      display: none;
    }

    #claim {
      background-color: rgba(220, 20, 60, 0.5);
      display: flex;
      justify-content: center;
      align-self: flex-start;
      width: 100vw;
      height: 100%;
      margin: 5% 0 5% 0;
      border-top: 0.3vh solid #ebebeb;
      border-bottom: 0.3vh solid #ebebeb;
      /* height: 40vh; */
    }

    #claim-text1 {
      display: none;
    }

    #claim-text2 {
      display: none;
    }

    #claim-text1-mobile {
      display: inline;
      font-size: 2rem;
    }

    #claim-text2-mobile {
      display: inline;
      font-size: 2rem;
    }

    #partnerships {
      /* background-color: burlywood; */
      position: relative;
      width: 100vw;
      height: 100%;
    }

    #partnership2 {
      /* background-color: darkgoldenrod; */
      width: 100vw;
      margin-top: -4vh;
      flex-direction: column;
    }

    #logo_big {
      display: none;
    }

    #sublogo {
      display: none;
    }

    #vehicles {
      /* background-color: aquamarine; */
      align-self: flex-start;
      width: 100vw;
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: 0.2rem;
      border-top: 0.5vw solid #ebebeb;
      border-bottom: 0.5vw solid #ebebeb;
    }

    #contacts {
      /* background-color: cadetblue; */
      width: 100vw;
      margin: 5% 0 4% 0;
      font-size: 1rem;
    }

    #claim_small {
      /* background-color: chartreuse; */
      font-size: 1.2srem;
      line-height: 2rem;
      letter-spacing: 0.1rem;
    }

    #social_container {
      padding: 0 12% 0 12%;
      /* margin-bottom: 15%; */
    }

    .servizi-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      font-size: 2rem;
      color: #ebebeb;
      background-size: cover;
      background-position: center;
      padding: 10% 0 10% 0;
    }

    #servizi-text {
      margin-top: 5%;
      border-top: 0.3vh solid #ebebeb;
      border-bottom: 0.3vh solid #ebebeb;
    }

    #interni-mobile {
      background-image: url("assets/interni-mobile.jpg");
      margin-top: 5%;
    }

    #esterni-mobile {
      background-image: url("assets/esterni-mobile.jpg");
    }

    .prodotti-mobile-container {
      /* background-color: aquamarine; */
      display: flex;
      align-items: center;
      width: 120vw;
      height: 30vh;
    }

    .prodotti-mobile {
      display: flex;
      justify-content: center;
      align-items: top;
    }

    #swissvax-mobile {
      width: 100%;
      transform: translateX(20%);
    }

    #colourlock-mobile {
      width: 120%;
      transform: translateX(-10%);
    }

    .text-mobile {
      display: flex;
      justify-content: center;
      width: 80vw;
      margin-top: 10%;
      font-size: 1rem;
      color: #ebebeb;
    }

    .page-wrap {
      display: flex;
      flex-direction: column;
      width: 100vw;
      padding: 0%;
    }

    .service-block {
      background: rgba(75, 75, 75, 0.2);
      display: block;
      width: 100%;
      /* margin-bottom: 2vw; */
    }

    .service-block-img {
      /* background-color: bisque; */
      width: 100vw;
      height: 50vh;
    }

    .img-works {
      height: 25vh;
    }

    .service-block-text {
      display: none;
    }

    .service-block-text-mobile {
      background: rgba(75, 75, 75, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15% 10% 15% -90%;
      padding: 5%;
      color: #ebebeb;
      font-size: 2rem;
      text-align: center;
    }

    .service-block-text-mobile-des {
      background: rgba(75, 75, 75, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15% 10% 15% -90%;
      padding: 5%;
      color: #ebebeb;
      font-size: 1rem;
      text-align: center;
    }

    .service-block-text-mobile:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .service-block-text-des {
      display: none;
    }

    #works_link_mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      line-height: 40vh;
      font-size: 1.5rem;
      background-image: url("assets/gallery/img2_full.jpeg");
      background-size: cover;
      background-position: center;
      /* margin-bottom: 5%; */
    }

    #works_link_mobile:hover {
      text-decoration: underline;
    }

    .service-block-text-mobile-works {
      background: rgba(75, 75, 75, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin: 0% 0% 0% 0%; */
      padding: 5%;
      color: #ebebeb;
      font-size: 1.2rem;
      line-height: 100%;
      text-align: center;
    }

    .service-block-text-mobile-works:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .triangle-l {
      width: 0;
      height: 0;
      border-bottom: 25vh solid rgba(75, 75, 75, 0.5);
      border-left: 25vh solid transparent;
      margin-left: -75%;
    }

    .rectangle {
      width: 50vw;
      height: 25vh;
      background: rgba(75, 75, 75, 0.5);
    }

    .google-maps-mobile {
      display: flex;
      height: 48vh;
      width: 100vw;
      margin-bottom: 8vh;
      /* overflow: hidden; */
      /* border: 8vh solid rgba(20, 20, 20, 0.5); */
    }

    .footer {
      background-color: rgba(20, 20, 20, 0.8);
    }

    /* @keyframes work-links {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(100%);
      }
    } */
  }
}
